# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environnements virtuels
venv/
env/
.venv/

# Fichiers générés par le projet
reservations.csv
reservations_test.csv
*.pdf

# IDE / éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
